{% extends 'base.html' %}
{% block body %}
<!-- <div class="d-flex justify-content-evenly">
    <a  class="btn btn-dark btn-lg w-25" href="{% url 'category' %}">Category</a>
   
        <button class="btn  btn-dark btn-lg w-25 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Job
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="{% url 'job' %}">Add a new Job</a></li>
          <li><a class="dropdown-item" href="{% url 'listjob' %}">View Jobs</a></li>
          </ul>
      
    <a href="#" class="btn btn-dark btn-lg w-25">Applications</a>
</div> -->
{% endblock %}