{% extends 'jobseeker/base.html' %}
{% block body %}
{%if form.errors%}
    {{form.errors}}
{%endif%}
{%load static%}
        <form action="" method="post" class="bg-white m-5 p-5 w-50 rounded-3 col-lg-12 col-md-12 col-sm-12 col-12  m-5 p-5 w-50 rounded-3 ">
            {%csrf_token%}
            <p class="fw-bold fs-4 "> Applicant Registration</p>
            <hr class="mb-5 w-35 border-4" >
            {{form.as_p}}
            <button type="submit" class="btn btn-dark w-50 mt-5 mb-5">Register</button>                       
        </form>
   {% endblock %}